version: '3.9'

services:
  db:
    image: postgres:16
    environment:
      DB_ENGINE: django.db.backends.postgresql
      DB_HOST: db
      POSTGRES_DB: rttm
      POSTGRES_USER: rttm
      POSTGRES_PASSWORD: rttm
      DB_PORT: 5432
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    environment:
      DB_ENGINE: django.db.backends.postgresql
      DB_HOST: db
      POSTGRES_DB: rttm
      POSTGRES_USER: rttm
      POSTGRES_PASSWORD: rttm
      DB_PORT: 5432
    volumes:
      - .:/app
    depends_on:
      - db

volumes:
  db_data:
